<p id="notice"><%= notice %></p>

<p>
  <strong>Thickness:</strong>
  <%= @layerthickness.thickness %>

</p>

<%= link_to 'Edit', edit_layerthickness_path(@layerthickness) %> |
<%= link_to 'Back', layerthicknesses_path %>
